body {
  background-color: #FFDBC9;
}

footer{
  border: 2px solid black;
  font-family: 'Grandstander', cursive;
	clear: both;
	text-align: center;
  font-size: 14px;
  font-weight: 700;
}


p {
  display: flex;
  justify-content: space-around;
  font-family: 'Grandstander', cursive;
  font-size: 18px;
  border: 10px;
  margin: 10px;
  font-weight: 200;

}


.navbar-brand{
  font-family: 'Grandstander', cursive;
  color: silver;
  font-weight: bold;
}

.container {
  background: url(https://i.pinimg.com/originals/92/2a/d0/922ad0b66e65d69eeccecde609986c1e.jpg) #FFDBC9;
  height: 250px;
  width: auto;
  background-size: cover;
  border: 2px solid black;
  margin-top: 10px;
  text-align: center;
  align-items: center;
  padding: 25px;
  display: flex;
  margin-bottom: 50px;
  min-height: 59px;
  position: relative;
  width: 100%;
  z-index: 10002;
  opacity: 0.8
}

.zeramalho{
  float: right;
}

.titulo {
  font-family: 'Grandstander', cursive;
  text-align: center;
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: silver;
  font-size: 70px;
  font-weight: 600;
  text-shadow: 0 0 10px rgba(0, 0, 0, 2);
  opacity: 0.95;
}
